* {
    margin: 0;
    padding: 0;
}

body {
    margin-right: 100px;
    background: #6E3838;
    font-family: Segoe Script;
    font-size: 34px;
    font-style: italic;
    letter-spacing: -1px;
    width: 8000px;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
}

li {
    display: inline-block;
    width: 200px;
}

.nav {
    position: fixed;
    top: 0;
    z-index: 9999;
    background: rgba(255, 255, 255, 0.43);
    right: 0;
    border-radius: 10px;
    padding-left: 15px;
    margin: 5px;
}

.nav li {}

.nav li a {
    color: #4abcf7;
}
#pagescrollcontent{
  height: 4000px;
  float: left;
}
.section {
    margin: 0px;
    height: 100%;
    text-shadow: 1px 1px 2px #F5E3E3;
    width: 1360px;
    float: left;
}

.section h2 {
    margin: 50px 0px 30px 50px;
}

.section p {
    margin: 20px 0px 0px 50px;
    width: 600px;
}

#home {
    color: #000;
    background-image: url(g.jpg);
    background-size: auto;
    background-repeat: repeat;
}

#locate {
    color: #000;
    background-image: url(h.jpg);
    background-size: auto;
    background-repeat: repeat;
}

#life {
    color: #000;
    background-image: url(i.jpg);
    background-size: auto;
    background-repeat: repeat;
}

#svg{
  font-size: 14px;
  font-family: arial,sans-serif;
  color: #FFF;
}
.section ul {
    list-style: none;
    margin: 20px 0px 0px 550px;
}

.black ul li {
    float: left;
    padding: 0px;
    margin: -7px;
    margin-left: 72px;
    margin-top: 10px;
    margin-right: -40px;
    color: #0B0B0B;
}

.black ul li a {
    display: block;
    color: #ff8080;
}

.black ul li a:hover {
    text-decoration: none;
    color: pink;
}

.ablack ul li {
    float: left;
    padding: 5px;
    margin: 5px;
    color: #0B0B0B;
}

.ablack ul li a {
    display: block;
    color: #4ABCF7;
}

.ablack ul li a:hover {
    text-decoration: none;
    color: pink;
}

.white ul li {
    float: left;
    padding: 5px;
    margin: 5px;
    color: #aaa;
}

.white ul li a {
    display: block;
    color: #59BB16;
}

.white ul li a:hover {
    text-decoration: none;
    color: pink;
}

.pp {
    margin-left: -19px;
    margin-top: 10px;
    float: left;
    background-repeat: no-repeat;
    background-position: center center;
    width: 41px;
    height: 41px;
    background-image: url(m.jpg);
    background-size: cover;
    display: block;
    -webkit-border-radius: 100px;
}

.pp img {
    width: 40px;
    opacity: 0;
    filter: alpha(opacity=0);
}

#googleMap {
    margin-left: 656px;
    margin-top: 162px;
    height: 315px;
    width: 386px;
    display: block;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 263px;
    border-top-left-radius: 263px;
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    /* IE 9 */
    -moz-transform: rotate(30deg);
    /* Firefox */
    -webkit-transform: rotate(30deg);
    /* Safari and Chrome */
    -o-transform: rotate(30deg);
    /* Opera */
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

span.reference {
    position: fixed;
    left: 10px;
    bottom: 10px;
    font-size: 13px;
    font-weight: bold;
}

span.reference a {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    padding-right: 20px;
}

span.reference a:hover {
    color: #ddd;
    text-decoration: none;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

span.reference {
    position: fixed;
    left: 10px;
    bottom: 10px;
    font-size: 13px;
    font-weight: bold;
}

span.reference a {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    padding-right: 20px;
}

span.reference a:hover {
    color: #ddd;
    text-decoration: none;
}

.example-animation {
    color: #FFF;
    font-size: 60px;
}

div.slide-left {
    width: 100%;
    overflow: hidden;
}

div.slide-left p {
    animation: slide-left 1s;
}

@keyframes slide-left {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}


/*graph*/
